.modal-container {
  z-index: 9;
  position: absolute;
  width: 100vw !important;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.3); // leggero overlay scuro
  backdrop-filter: blur(8px); // effetto blur
  -webkit-backdrop-filter: blur(8px); // supporto Safari

  .login-form {
    border: none;
    border-radius: 5%;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }

  .button-form {
    width: 50%;
    font-size: 20px;
    margin-bottom: 40px;
    color: white;
    background: linear-gradient(157deg, rgb(141, 46, 226) 50%, rgb(91, 80, 208) 100%);
  }
}
