.circle {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: rgb(124, 124, 124);
  border-radius: 30px;
}

.circle.occurred {
  background-color: #16d016;
}

.tooltip {
  position: absolute;
  bottom: 120%; /* sopra al cerchio */
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.8rem;
  white-space: nowrap;
  pointer-events: none; // evita bug con hover
  opacity: 0.9;

  .occurred {
    color: #16d016;
  }
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* punta verso il cerchio */
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
